<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="БлокNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <БлокNote.Properties.Settings>
            <setting name="programmName" serializeAs="String">
                <value>БлокNote</value>
            </setting>
            <setting name="NewDocName" serializeAs="String">
                <value>Новый документ</value>
            </setting>
            <setting name="statusStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textFont" serializeAs="String">
                <value>Segoe UI, 12pt</value>
            </setting>
            <setting name="transfer" serializeAs="String">
                <value>False</value>
            </setting>
        </БлокNote.Properties.Settings>
    </userSettings>
</configuration>